<form aciton="/user/register" method="post">
    <div class="container">
        <label><b>NickName</b></label>
        <input type="text" placeholder="Please Enter Your Nickname" name="nickName" required>
        <label><b>UserName</b></label>
        <input type="text" placeholder="Please Enter your Username" name="userName" required>
        <label><b>Password</b></label>
        <input type="text" placeholder="Please Enter your Password" name="password" required>
        <button type="submit">Submit</button>
    </div>

</form>