<form aciton="/user/register" method="post">
    <div class="container">
        <label><b>Nickname</b></label>
        <input type="text" placeholder="Please Enter Your Nickname" name="nickName" required>
        <label><b>Username</b></label>
        <input type="text" placeholder="Please Enter Your Username" name="userName" required>
        <label><b>Password</b></label>
        <input type="text" placeholder="Please Enter Your Password" name="password" required>
        <button type="submit">Register</button>
    </div>

</form>